
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 25px;
  color: #1F2228;
  background-color: #FAF9F9;
}

h1 {
  font-weight: bold;
  
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #BEE3DB;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #FAF9F9;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFD6BA;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFD6BA;
  padding: 2px;
}

a {
  color: #555B6E;
}
